{% extends 'doc-base.html' %}
{% load static %}

{% block folder-tree %}
<style>
    .flat-icon {
        width: 35px;
        height: auto;
    }

    .file-icon {
        width: 25px;
    }

    .nav-link ul.dropdown_nav a.nav-link {
        font-size: 12px;
    }

    .file-link {
        min-width: 250px;
        margin-bottom: 10px;
    }

    .file-link a {
        line-height: 23px !important;
        display: flex;
        align-items: center;
        gap: 15px;
        width: 100%;
    }
    .nav-sidebar .nav-item.subfolder {
        margin-bottom: 12.5px;
        min-width: 130px;
        max-width: 90vh;
    }
    .nav-sidebar .nav-item.subfolder a {
        font-weight: 800 !important;
    }
    .nav-sidebar .nav-item.subfolder a {
        font-weight: 500 !important;
    }
</style>

<div id="post" class="documentation_info">
    <article class="documentation_body" id="documentation">
    </article>
    <div class="scroll">
        <ul class="list-unstyled nav-sidebar" style="overflow: auto">
            {% comment %} <li class="nav-item">
                <a href="doclist.html" class="nav-link"><img src="img/side-nav/home.png" alt="">Home</a>
            </li> {% endcomment %}
            {% comment %} <li class='nav-item subfolder'>
                <a href='#' class='nav-link'>
                    <img class="flat-icon" src="img/side-nav/folder.png" alt='folder'>
                    Old Notes
                </a>
                <span class='icon'><i class='arrow_carrot-down'></i></span>
                <ul class='list-unstyled dropdown_nav overflow-auto' style="overflow-y: auto">
                    <li class='nav-item subfolder'>
                        <a href='#' class='nav-link'>
                            <img class="flat-icon" src="img/side-nav/folder.png" alt='folder'>
                            Old Notes
                        </a>
                        <span class='icon'><i class='arrow_carrot-down'></i></span>
                        <ul class='list-unstyled dropdown_nav'>
                            <li class="file-link">
                                <a href='tab.html'>
                                    <img class="file-icon" src="img/side-nav/file.png" alt='folder'>
                                    Introduction to Economics -- Lecture 3
                                </a>
                            </li>
                            <li class="file-link">
                                <a href='tab.html'>
                                    <img class="file-icon" src="img/side-nav/file.png" alt='folder'>
                                    Introduction to Economics -- Lecture 1
                                </a>
                            </li>
                            <li class="file-link">
                                <a  href='tab.html'>
                                    <img class="file-icon" src="img/side-nav/file.png" alt='folder'>
                                    Introduction to Economics -- Lecture 2
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="file-link">
                        <a href='tab.html'>
                            <img class="file-icon" src="img/side-nav/file.png" alt='folder'>
                            Intermediate Economics -- Lecture 1-2
                        </a>
                    </li>
                    <li class="file-link">
                        <a href='tab.html'>
                            <img class="file-icon" src="img/side-nav/file.png" alt='folder'>
                            Intermediate Economics -- Lecture 2-2
                        </a>
                    </li>
                </ul>
            </li> {% endcomment %}
            <li class='nav-item subfolder active'>
                <a href='#' class='nav-link'>
                    <img class="flat-icon" src="{% static 'img/side-nav/folder.png' %}" alt='folder'>
                    {{ folder_name }}
                </a>
                <span class='icon'><i class='arrow_carrot-down'></i></span>
                <ul class='list-unstyled dropdown_nav'>
                    {% autoescape off %}
                        {{folder_tree }}
                    {% endautoescape %}
                </ul>
            </li>

        </ul>
    </div>
</div>

{% endblock folder-tree %}